html, body {
    height: 100%;
}

* {
    box-sizing: border-box;
    font-family: "Varela Round", sans-serif;
    font-style: normal;
}

:root {
    --primary: #028090;
    --secondary: #00a896;
    --dark: #040D12;
    --medium: #183D3D;
    --light: #5C8374;
    --lighter: #93B1A6;
}

body {
    background: var(--dark);
    color: #fff;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 100 !important;
}

.home-info, .cl-headerSubtitle {
    font-weight: 100
}

.hidden {
    display: none
}

#loader {
    position: absolute;
    background: var(--dark);
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.loader-inner {
    position: relative;
    height: 100%;
    width: 100%;
}

#loader img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
}

#main {
    max-width: 1100px;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

#home-main {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.home-content img {
    width: 200px;
}

#enter, .clerk-logins {
    display: block;
    padding: 10px 25px;
    border: 1px solid var(--medium);
    max-width: 300px;
    width: 100%;
    margin: 0 auto 10px;
    transition: linear .15s;
    color: #fff;
    text-decoration: none;
}

.clerk-logins:hover, #enter:hover {
    cursor: pointer;
    background: var(--medium);
}

.container {
    max-width: 400px;
    margin: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    height: 100%;
    align-items: center;
}

#sign-up, #sign-in{
    margin: auto;
}

#sign-up .cl-card, #sign-in .cl-card {
    box-shadow: none;
    border-radius: 0;
    margin: auto;
    padding-bottom: 10px;
}

.left-content, .right-content {
    max-width: 600px;
    margin: auto;
}

.right {
    padding-left: 40px;
}

.left, .right {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-items: center;
    align-content: center;
}

.container p a {
    color: #fff
}

#sign-up .cl-internal-b3fm6y, #sign-in .cl-internal-b3fm6y {
    display: none;
}

.signup-footer, .signin-footer {
    font-size: 14px;
}

.cl-footerAction {
    display: none;
}

#sign-up label, #sign-up .cl-footerActionText, #sign-up .cl-footerActionLink,
#sign-in label, #sign-in .cl-footerActionText, #sign-in .cl-footerActionLink,
#sign-in .cl-identityPreviewText  {
    color: #fff
}

#menu {
    width: 225px;
    border-right: 1px solid var(--medium);
    padding: 40px 20px 20px;
    transition: linear .25s;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#menu img {
    width: 125px;
    align-self: flex-end;
}

#mobile-nav {
    display: none;
}

#spacer {
    width: 225px;
}

#feed {
    width: 650px;
    padding: 20px 0 0;
    border-right: 1px solid var(--medium);
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

#notes {
    position: fixed;
    left: -100%;
    top: 0;
    background: var(--dark);
    transition: linear .25s;
    width: 100%;
    max-width: 600px;
    height: 100%;
    font-weight: 300;
    line-height: 1.5;
    border-right: 1px solid var(--light);
}

#notes h2 {
    padding-left: 20px;
}

.notes-inner {
    position: relative;
    padding: 30px;
}

#notes .fa-xmark {
    position: absolute;
    top: 20px;
    left: 20px;
}

#feed .notes-slide {
    left: 0
}

/* width */
#feed::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  #feed::-webkit-scrollbar-track {
    background: var(--medium);
  }
  
  /* Handle */
  #feed::-webkit-scrollbar-thumb {
    background: var(--light);
  }
  
  /* Handle on hover */
  #feed::-webkit-scrollbar-thumb:hover {
    background: var(--light);
  }

#post-lightbox, #reply-lightbox {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.3);
    backdrop-filter: blur(4px);
    z-index: 20;
}

input {
    background-color: var(--dark);
    color: #fff;
    border: none;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}

#create-post, #create-reply {
    width: calc(100% - 80px);
    margin: auto;
    position: relative;
    height: 100%;
}

.input-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 700px;
    width: 100%;
    background: var(--dark);
    padding: 40px;
    border-radius: 5px;
    border: 1px solid var(--medium);
}

.post-title {
    font-weight: 100;
    margin-top: 0;
}

.input-rel {
    position: relative;
}

.tox .tox-menubar, .tox .tox-tbtn--bespoke, .tox-statusbar {
    display: none !important;
}

.tox-tinymce, .tox .tox-edit-area__iframe {
    border: none !important;
    background-color: var(--medium) !important;
}

.tox:not(.tox-tinymce-inline) .tox-editor-header {
    border-bottom: none !important;
}

.tox-tinymce {
    border-radius: 0 !important;
    height: 300px !important;
}

.fa-xmark {
    font-size: 22px;
    position: absolute;
    top: -65px;
    left: -38px;
}

.fa-xmark:hover {
    cursor: pointer;
}

#submit-post, #submit-reply {
    font-size: 18px;
    background-color: var(--medium);
    color: #fff;
    padding: 10px 30px;
    border: none;
    margin-top: 10px;
    border-radius: 4px;
}

#open-lightbox, #open-profile, #logoff, #notes-btn,
#mbl-open-lightbox, #mbl-open-profile, #mbl-logoff, #mbl-notes-btn,
#mobile-post, #myposts-btn, #mbl-myposts {
    font-size: 15px;
    background-color: transparent;
    color: var(--lighter);
    padding: 10px 15px;
    border: 1px solid var(--light);
    width: 100%;
    margin-bottom: 10px;
    border-radius: 4px;
    text-align: left;
}

.user-box button i {
    width: 20px;
}

#profile-wrap {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: calc(100% - 13%);
    z-index: 10;
}

.inner-wrapper, #profile {
    height: 100%;
}

.inner-wrapper {
    position: relative;
}

.close-profile {
    position: absolute;
    top: 8px;
    left: 40px;
    z-index: 5;
}

#open-lightbox:hover, #open-profile:hover, #logoff:hover, #notes-btn:hover,
#myposts-btn:hover {
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
}

#submit-post:hover, #delete-posts:hover, #submit-reply:hover {
    background-color: var(--light);
    cursor: pointer;
}

#feed-wrapper .post-body {
    padding: 20px;
    border-bottom: 1px solid var(--medium);
    width: 100%;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.post-left {
    width: 50px;
}

.fa-circle {
    font-size: 3px;
    color: var(--light);
    margin: 0 5px;
    padding-top: 7px;
}

#feed .post-left img {
    margin-top: 0;
    border-radius: 4px;
}

.post-right {
    width: calc(100% - 60px);
}

.post-meta {
    display: flex;
    font-size: 13px;
}

.content {
    margin: -7px 0 0;
    display: block;
    color: #eee
}

#feed-wrapper a {
    color: var(--lighter)
}

.fa-grip-dots {
    color: var(--lighter);
    margin: 0 10px;
}

.fa-message, .fa-angle-down {
    color: var(--lighter);
}

.fa-message:hover, .fa-angle-down:hover {
    color: #fff;
    cursor: pointer;
}

.date {
    color: var(--lighter);
    margin: 0;
}

.username {
    color: var(--lighter);
    margin: 0;
}

.user-box {
    text-align: center;
}

#user-img{
    width: 100px;
    border-radius: 5px;
}

.content p {
    font-weight: 300;
    line-height: 1.3;
}

.reply {
    padding: 20px;
    background: var(--medium);
    margin: 10px 0;
    border-radius: 4px;
}

.reply-meta {
    display: flex;
    font-size: 13px;
    color: var(--lighter);
}

.reply-content {
    padding-top: 10px;
}

.fa-message, .fa-angle-down {
    color: var(--lighter);
}

.reply p {
    margin: 0;
}

.reply-stack {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    width: 100%;
    padding-left: 5px;
}

.reply-stack span {
    padding: 0 10px 0 5px;
    color: var(--lighter);
    font-size: 13px;
}

.thread {
    width: 100%
}

#mobile-menu {
    display: none;
}

.slide-in {
    left: 0 !important;
}

.post-body img {
    margin-top: 20px;
    border-radius: 5px;
    width: 100%;
    height: auto;
}

.tox .tox-editor-container {
    border-radius: 5px;
}

#main .tox .tox-toolbar__group {
    padding: 0 5px
}
.feed-top {
    position: fixed;
    left: 50%;
    top: 0;
    width: 100%;
    max-width: 650px;
    background: rgba(92, 131, 116, .7);
    backdrop-filter: blur(3px);
    padding: 20px;
    display: flex;
    font-weight: 300;
    transform: translateX(-50%);
}
.feed-top p {
    margin: 0
}
div#feed-wrapper {
    margin-top: 50px;
}
.feed-top i {
    font-size: 18px;
    margin-left: 10px;
    transition: linear .1s;
}
.feed-top i:hover {
    cursor: pointer;
    transform: rotate(45deg);
}

.learn-more {
    color: var(--lighter);
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}

.learn-more:hover {
    color: #fff;
}

.learn-pop {
    width: 600px;
}

.learn-text {
    font-size: 15px !important;
    line-height: 1.4 !important;
    color: #ccc !important;
    padding: 0 5px !important;
}

/*-----------------------
SWAL 
-----------------------*/
.swal2-popup {
    background: var(--medium);
    color: #fff
}
.swal2-container {
    background: rgba(0, 0, 0, .8);
    backdrop-filter: blur(3px);
}
.swal2-confirm {
    background: var(--light);
    color: #fff;
    font-size: 20px;
    padding: 10px 25px;
    border: none;
    border-radius: 4px;
}
.swal2-title {
    font-size: 22px;
}
.swal2-confirm:hover {
    cursor: pointer;
    background: var(--lighter);
}
.swal2-error {
    font-size: 10px;
}