@media(max-width:800px) {
    body, html {
        overflow: auto;
    }
    #feed {
        width: 100%;
        padding-top: 50px;
    }
    #spacer {
        display: none;
    }
    #menu {
        position: absolute;
        left: -100%;
        top: 47px;
        width: 100%;
        background: #222;
    }
    #mobile-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: fixed;
        background: #222;
        padding: 10px 20px;
    }
    #mobile-menu i {
        font-size: 22px;
    }
    #mobile-menu img {
        width: 44px
    }
    .menu-img {
        display: none
    }
    .user-box {
        margin: auto;
    }
}