@media(max-width:800px) {
    body, html {
        overflow: auto;
    }
    #feed {
        width: 100%;
        padding-top: 50px;
    }
    #spacer {
        display: none;
    }
    #menu {
        position: absolute;
        left: -100%;
        top: 48px;
        border-right: none;
        border-top: 1px solid #888;
        width: 100%;
        background: #222;
        height: calc(100% - 42px);
        z-index: 10;
    }
    #mobile-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: fixed;
        background: #222;
        padding: 10px 20px;
        z-index: 99;
    }
    #mobile-menu i {
        font-size: 28px;
    }
    #mobile-menu img {
        width: 56px
    }
    .menu-img {
        display: none
    }
    .user-box {
        margin: auto;
    }
    #create-post, #create-reply {
        width: calc(100% - 20px);
    }
    .input-box {
        padding: 15px;
        border: 1px solid #555
    }
    .fa-xmark {
        top: -45px;
    left: -15px;
    font-size: 30px;
    }
    .home-content {
        padding: 20px 0;
    }
    .home-content img {
        width: 100px;
    }
    .post-left {
        width: 35px
    }
    .post-right {
        width: calc(100% - 45px)
    }
    .content p, .reply-content {
        font-size: 13px;
    }
    .date {
        font-size: 13px;
        margin: 5px 0 0;
        width: 100%;
    }
    .post-meta, .reply-meta {
        flex-wrap: wrap;
    }
    .post-body .fa-circle {
        display: none;
    }
    .reply-user {
        width: 100%;
    }
    #open-lightbox, #open-profile, #logoff, #notes-btn {
        width: 250px;
    }
    #notes {
        font-size: 14px;
        top: 48px;
        border-top: 1px solid #555;
        position: fixed
    }
    .mobile-nav {
        display: none;
    }
    #mobile-nav {
        display: flex;
        position: fixed;
        background: #333;
        color: #fff;
        bottom: 0;
        left: 0;
        border: none;
        height: 50px;
        z-index: 10;
        width: 100%;
        border-radius: 0;
    }
    #mobile-nav button {
        text-align: center;
        border: none;
        margin: 0;
        font-size: 18px;
        color: #fff;
        border-radius: 0;
    }
    .close-profile {
        top: 10px;
        left: 10px;
    }
    #notes h2 {
        padding-left: 0;
    }
    #notes ul {
        padding-left: 15px;
    }
    #notes .fa-xmark {
        top: 10px;
        left: 10px
    }
    .feed-top {
        top: 48px;
    }
}